<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos, let i=index">
    <a [href]="todo.todoImage">
      <img [src]= "todo.todoImage">
    </a>
    {{ todo.todoName }}
    <button class="btn btn-primary"
            [disabled]="todo.todoStatus"
            (click)="onChangeStatus(i)">
      En Coure
    </button>
    <button class="btn btn-success"
            [disabled]="!todo.todoStatus"
            (click)="onChangeStatus(i)">
      Terminée
    </button>
  </li>
</ul>


